---
layout: default
---

{#if page.data.header.overlay_color or page.data.header.overlay_image or page.header.image}
  {#include page__hero.html %}
{#else if page.header.video.id and page.header.video.provider}
  {% include page__hero_video.html %}
{/if}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork"{#if page.data.locale} lang="{page.data.locale}"{/if}>
    {#if page.data.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{/if}
    {#if page.data.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{/if}
    {#if page.data.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{/if}
    {#if page.data.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{/if}

    <section class="page__content" itemprop="text">
      {#insert /}
    </section>
  </article>
</div>
